<style media="screen">
    li {
        background-color: pink;
        margin-bottom: 20px;
        padding: 20px;
        width: 50%;
        font-family: sans-serif;
    }
</style>

<h1>Icecream {{icecreams}}</h1>

<ul>
    
</ul>